<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>Modify Product</h3>
<p>
    <a th:href="@{/}">
        Back to product list
    </a>
</p>
<div id="form">
    <form action="#" method="POST" novalidate="novalidate"
          th:action="@{/product/update}" th:object="${product}">
        <input th:field="*{id}" type="hidden"/>
        <div>
            <label>Name</label>
            <input th:field="*{name}" type="text"/>
        </div>
        <div>
            <label>Price</label>
            <input th:field="*{price}" type="email"/>
        </div>
        <div>
            <label>Description</label>
            <input th:field="*{description}" type="text"/>
        </div>
        <div>
            <label>Producer</label>
            <input th:field="*{producer}" type="text"/>
        </div>
        <input type="submit" value="Modify"></input>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>